/4_Resources/1_STM32-H747I-DISCO/99_Demo_SW
*.aux
*.bbl
*.blg
*fdb_latexmk
*fls
*lof
*lol
*lot
*out
*gz
*toc
/2_Documentation/1_Main/Documentation_CircuitVoyager_Pre1/main.log
2_Documentation/1_Main/Documentation_CircuitVoyager_Pre1/.vscode/ltex.dictionary.en-US.txt
2_Documentation/1_Main/Documentation_CircuitVoyager_Pre1/.vscode/ltex.hiddenFalsePositives.en-US.txt
/5_Hardware/PCB_EXTENSION_CircuitVoyager_pre1/History
/5_Hardware/PCB_EXTENSION_CircuitVoyager_pre1/__Previews
/5_Hardware/PCB_EXTENSION_CircuitVoyager_pre1/Project Logs for PCB_EXT_CV_PRE1
/5_Hardware/PCB_EXTENSION_CircuitVoyager_pre1/Project Outputs for PCB_EXT_CV_PRE1/Design Rule Check - Main.html
/5_Hardware/PCB_EXTENSION_CircuitVoyager_pre1/Project Outputs for PCB_EXT_CV_PRE1/Design Rule Check - Main.drc
/6_Software/CV_UI/build/build/CircuitVoyager_UI
/6_Software/CV_UI/source/.idea
/2_Documentation/99_Template_Mala_BuP_Projektarbeit
/5_Hardware/WSBR_Board/History/*.Zip
/5_Hardware/WSBR_Board/Project Logs for WSBR_Board/*.LOG
/5_Hardware/WSBR_Board/*.PrjPcbStructure
/5_Hardware/WSBR_Board/__Previews/*.SchDocPreview
/6_Software/Firmware_WSBR/.settings/language.settings.xml
/5_Hardware/WSBR_Board/Project Outputs for WSBR_Board/Status Report.Txt
/2_Documentation/HW_Concept/*.bkp
/2_Documentation/Documentation_Wireless_ScoreBoard_Remote/main.log
/2_Documentation/Documentation_Wireless_ScoreBoard_Remote/main.pdf
/5_Hardware/WSBR_Board/Project Outputs for WSBR_Board/*.drc
/5_Hardware/WSBR_Board/Project Outputs for WSBR_Board/Design Rule Check - WSBR_Board.html
/5_Hardware/WSBR_Board/Project Outputs for WSBR_Board/WSBR_BOARD_V1_1_240317.zip
