/4_Resources/1_STM32-H747I-DISCO/99_Demo_SW
*.aux
*.bbl
*.blg
*fdb_latexmk
*fls
*lof
*lol
*lot
*out
*gz
*toc
/2_Documentation/1_Main/Documentation_CircuitVoyager_Pre1/main.log
2_Documentation/1_Main/Documentation_CircuitVoyager_Pre1/.vscode/ltex.dictionary.en-US.txt
2_Documentation/1_Main/Documentation_CircuitVoyager_Pre1/.vscode/ltex.hiddenFalsePositives.en-US.txt
/5_Hardware/PCB_EXTENSION_CircuitVoyager_pre1/History
/5_Hardware/PCB_EXTENSION_CircuitVoyager_pre1/__Previews
/5_Hardware/PCB_EXTENSION_CircuitVoyager_pre1/Project Logs for PCB_EXT_CV_PRE1
/5_Hardware/PCB_EXTENSION_CircuitVoyager_pre1/Project Outputs for PCB_EXT_CV_PRE1/Design Rule Check - Main.html
/5_Hardware/PCB_EXTENSION_CircuitVoyager_pre1/Project Outputs for PCB_EXT_CV_PRE1/Design Rule Check - Main.drc
/6_Software/CV_UI/build/build/CircuitVoyager_UI
/6_Software/CV_UI/source/.idea
/2_Documentation/99_Template_Mala_BuP_Projektarbeit
